.result-container {
  width: 95%;
  margin-top: 50px;
}

.page-container {
  margin-top: 50px;
  /* border: 0.1em solid; */
  margin-left: 50px;
}

.editor-container {
  width: 95%;
}

.console-container {
  width: 95%;
  position: relative;
}

.encode-container {
  width: 95%;
}

.console-area {
  font-family: courier, monospace;
  color: #fff;
  height: 350px;
  overflow: scroll;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  background-color: black;
}
