.ace_editor {
    border: 1px solid lightgray;
    height: 200px;
    width: 80%;
}
.scrollmargin {
    height: 80px;
    text-align: center;
}
/* .editor-container {
    height:300px;
    width:33.33%;
    margin-left: 50px;
    margin-top: 50px;
} */
